.bgc-primary {
  background-color: rgba(229, 94, 98, 0.2);
}
html {
  font-size: 12px;
}
.badge-small {
  min-width: 15px;
  height: 15px;
  line-height: 15px;
  font-size: 0.7rem;
}
.uk-badge {
  background: #e55e62;
}
.headerWithFilter {
  background-color: #ffd;
}
.min-width-mtime {
  min-width: 66px;
}
.no-padding {
  padding: 0;
}
.uk-form-label {
  color: #e55e62;
  font-weight: 600;
  font-size: 1rem;
}
.uk-table td {
  padding: 8px 6px;
}
.filter-checked {
  padding: 4px 8px;
  color: #222;
  background: #fff;
  border: 1px solid  #fff;
  border-radius: 4px;
}
.filter-no-checked {
  padding: 4px 8px;
  color: #fff;
  background: none;
  border: 1px solid #fff;
  border-radius: 4px;
}
.table-border-left {
  border-left: 1px solid rgba(128, 128, 128, 0.2);
}
.table-border-wide {
  border-bottom: 2px solid #808080;
  border-top: 2px solid #808080;
}
.uk-table-striped > tr:nth-of-type(odd),
.uk-table-striped tbody tr:nth-of-type(odd) {
  background: #e6e6e6;
}
.uk-table-hover > tr:hover,
.uk-table-hover tbody tr:hover {
  background: #ffd!important;
}
.text-searched {
  color: #8ec73b;
}
.uk-offcanvas-bar option {
  color: #666;
}
